<a
  class={`
  flex justify-center items-center rounded-full p-3 gap-x-2
  border bg-black/20 border-marrslight/10 
  dark:bg-white/10 dark:border-gray-600
  transition
  hover:scale-110 hover:bg-white/10 hover:dark:bg-black/10 `}
  {...Astro.props}
  target="_blank"
  rel="noopenner noreferrer"
>
  <slot />
</a>
