---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../icons/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ToolIcon from "../icons/Tool.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Avatar from "../icons/Avatar";
---

<Layout
  title="Portfolio de eolunas - Desarrollador y Programador Web"
  description="Contrata el mejor talento par desarrollar tus paginas web y tener un despliegue exitoso."
>
  <main class="max-w-6xl mx-auto">
    <SectionContainer id="banner" class="pt-20 md:pt-28">
      <article
        class="flex flex-col lg:flex-row lg:items-center lg:justify-evenly"
      >
        <Avatar
          class="w-2/3 max-w-[280px] mx-auto pb-5 text-marrsgreen dark:text-carrigreen drop-shadow-2xl dark:drop-shadow-none"
          client:visible
          transition:persist
        />
        <div class="lg:basis-4/5">
          <h1
            class={`text-black/70 text-4xl font-bold flex flex-col sm:flex-row sm:justify-between gap-y-4 pb-4
            sm:text-5xl
            dark:text-white`}
          >
            <div>
              Hey, soy <span class="text-marrsgreen dark:text-carrigreen"
                >Eduardo Luna</span
              >
            </div>
            <a
              href="https://www.linkedin.com/in/eolunas"
              target="_blank"
              rel="noopener"
            >
              <Badge
                class={`p-2 mr-2 
              transition duration-200 
              hover:scale-105 hover:bg-marrsgreen/20 hover:translate-x-2`}
              >
                Desarrollador disponible!
              </Badge>
            </a>
          </h1>
          <h2
            class={`text-2xl text-black/90 opacity-80 text-pretty py-6
          dark:text-white`}
          >
            <span>Ingeniero Mecatronico y desarrollador Web</span>. <span
              class="opacity-80">Bogotá, Colombia co</span
            >. Especializado en crear aplicaciones personalizadas y llamativas.
          </h2>
        </div>
      </article>

      <nav class="flex justify-start items-center gap-x-6 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/eolunas">
          <LinkedInIcon class="size-6 text-white" />
          <span class="text-white">LinkedIn</span>
        </SocialPill>
        <SocialPill href="https://www.github.com/eolunas">
          <GitHubIcon class="size-6 text-white" />
          <span class="text-white">GitHub</span>
        </SocialPill>
        <SocialPill href="https://www.github.com/eolunas">
          <MailIcon class="size-6 text-white" />
          <span class="text-white">eolunas@gmail.com</span>
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="aboutme" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        Sobre mi
      </h2>
      <p class="text-white text-lg">
        Decripcion de mi Perfil, ruta academica y experiencia laboral.
      </p>
      <h3
        class="flex items-center gap-x-2 text-2xl font-semibold text-white py-4"
      >
        <ToolIcon class="size-8" /> Experiencia Laboral
      </h3>
      <Experience />

      <>
        <!-- component -->
        <h3 class="text-2xl text-gray-700 font-bold mb-6 ml-3">Latest News</h3>

        <ol>
          <li class="border-l-2 border-purple-600">
            <div class="md:flex flex-start">
              <div
                class="bg-purple-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  class="text-white w-3 h-3"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="currentColor"
                    d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
                  ></path>
                </svg>
              </div>
              <div
                class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-md ml-6 mb-10"
              >
                <div class="flex justify-between mb-4">
                  <a
                    href="#!"
                    class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                    >New Web Design</a
                  >
                  <a
                    href="#!"
                    class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                    >04 / 02 / 2022</a
                  >
                </div>
                <p class="text-gray-700 mb-6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque scelerisque diam non nisi semper, et elementum lorem
                  ornare. Maecenas placerat facilisis mollis. Duis sagittis
                  ligula in sodales vehicula.
                </p>
                <button
                  type="button"
                  class="inline-block px-4 py-1.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                  data-mdb-ripple="true">Preview</button
                >
                <button
                  type="button"
                  class="inline-block px-3.5 py-1 border-2 border-purple-600 text-purple-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                  data-mdb-ripple="true">See demo</button
                >
              </div>
            </div>
          </li>
          <li class="border-l-2 border-green-600">
            <div class="md:flex flex-start">
              <div
                class="bg-green-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  class="text-white w-3 h-3"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="currentColor"
                    d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
                  ></path>
                </svg>
              </div>
              <div
                class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-md ml-6 mb-10"
              >
                <div class="flex justify-between mb-4">
                  <a
                    href="#!"
                    class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                    >21 000 Job Seekers</a
                  >
                  <a
                    href="#!"
                    class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                    >12 / 01 / 2022</a
                  >
                </div>
                <p class="text-gray-700 mb-6">
                  Libero expedita explicabo eius fugiat quia aspernatur autem
                  laudantium error architecto recusandae natus sapiente sit nam
                  eaque, consectetur porro molestiae ipsam an deleniti.
                </p>
                <button
                  type="button"
                  class="inline-block px-4 py-1.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                  data-mdb-ripple="true">Preview</button
                >
                <button
                  type="button"
                  class="inline-block px-3.5 py-1 border-2 border-purple-600 text-purple-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                  data-mdb-ripple="true">See demo</button
                >
              </div>
            </div>
          </li>
          <li class="border-l-2 border-green-600">
            <div class="md:flex flex-start">
              <div
                class="bg-green-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  class="text-white w-3 h-3"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    fill="currentColor"
                    d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"
                  ></path>
                </svg>
              </div>
              <div
                class="block p-6 rounded-lg shadow-lg bg-gray-100 max-w-md ml-6 mb-10"
              >
                <div class="flex justify-between mb-4">
                  <a
                    href="#!"
                    class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                    >Awesome Employers</a
                  >
                  <a
                    href="#!"
                    class="font-medium text-purple-600 hover:text-purple-700 focus:text-purple-800 duration-300 transition ease-in-out text-sm"
                    >21 / 12 / 2021</a
                  >
                </div>
                <p class="text-gray-700 mb-6">
                  Voluptatibus temporibus esse illum eum aspernatur, fugiat
                  suscipit natus! Eum corporis illum nihil officiis tempore.
                  Excepturi illo natus libero sit doloremque, laborum molestias
                  rerum pariatur quam ipsam necessitatibus incidunt, explicabo.
                </p>
                <button
                  type="button"
                  class="inline-block px-4 py-1.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                  data-mdb-ripple="true">Preview</button
                >
                <button
                  type="button"
                  class="inline-block px-3.5 py-1 border-2 border-purple-600 text-purple-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                  data-mdb-ripple="true">See demo</button
                >
              </div>
            </div>
          </li>
        </ol>
      </>
    </SectionContainer>

    <SectionContainer id="projects" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        <CodeIcon class="size-8" /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="blog" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        Blog
      </h2>
      <p class="text-white text-lg">
        Decripcion de 'How to do' algunos proyectos e informacion de interes.
      </p>
    </SectionContainer>

    <SectionContainer id="contact" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        Contacto
      </h2>
      <p class="text-white text-lg">
        Formulario de contacto e informacion relevante de redes.
      </p>
    </SectionContainer>
  </main>
</Layout>
