---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../icons/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Avatar from "../icons/Avatar";
import LinkButton from "../components/LinkButton.astro";
import Academic from "../components/Academic.astro";
---

<Layout
  title="Portfolio de eolunas - Desarrollador y Programador Web"
  description="Contrata el mejor talento par desarrollar tus paginas web y tener un despliegue exitoso."
>
  <main class="max-w-6xl mx-auto">
    <SectionContainer id="banner" class="pt-20 lg:pt-28">
      <article class="flex flex-col items-center justify-evenly lg:flex-row">
        <div class="w-2/3 flex flex-col justify-center items-center">
          <Avatar
            class={`
            w-full max-w-[280px] mx-auto pb-5 text-marrsgreen shadow-black drop-shadow-2xl
            md:pb-0
          dark:text-carrigreen  dark:shadow-white`}
            client:visible
            transition:persist
          />
          <LinkButton
            class="w-3/5 hidden p-2 m-4 lg:flex"
            href="https://www.linkedin.com/in/eolunas"
          >
            Desarrollador disponible!
          </LinkButton>
        </div>

        <div class="lg:basis-4/5">
          <h1
            class={`
            text-black/70 text-4xl font-bold gap-y-4 pb-4 flex flex-col 
            dark:text-white`}
          >
            <p
              class={`flex flex-col gap-3
            lg:flex-row`}
            >
              <span>Hey, soy</span>
              <span class="text-marrsgreen dark:text-carrigreen"
                >Eduardo Luna</span
              >
            </p>

            <LinkButton
              class="p-2 lg:hidden"
              href="https://www.linkedin.com/in/eolunas"
            >
              Desarrollador disponible!
            </LinkButton>
          </h1>
          <div>
            <h2
              class={`text-2xl text-black/90 opacity-80 text-pretty py-6
            dark:text-white`}
            >
              <span>Ingeniero Mecatronico y desarrollador Web</span>. <span
                class="opacity-80">Bogotá, Colombia co</span
              >. Especializado en crear aplicaciones personalizadas y
              llamativas.
            </h2>
          </div>
          <nav class="flex justify-start items-center gap-x-6 flex-wrap">
            <SocialPill href="https://www.linkedin.com/in/eolunas">
              <LinkedInIcon class="size-6 text-white" />
              <span class="text-white">LinkedIn</span>
            </SocialPill>
            <SocialPill href="https://www.github.com/eolunas">
              <GitHubIcon class="size-6 text-white" />
              <span class="text-white">GitHub</span>
            </SocialPill>
            <SocialPill href="https://www.github.com/eolunas">
              <MailIcon class="size-6 text-white" />
              <span class="text-white">eolunas@gmail.com</span>
            </SocialPill>
          </nav>
        </div>
      </article>
    </SectionContainer>

    <SectionContainer id="aboutme" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        Sobre mi
      </h2>
      <p class="text-white text-lg">
        Decripcion de mi Perfil, ruta academica y experiencia laboral.
      </p>
      <article class="w-full flex flex-col justify-center items-center lg:flex-row lg:items-start">
        <Experience class="w-full lg:w-1/2" />
        <Academic class="w-full lg:w-1/2" />
      </article>
    </SectionContainer>

    <SectionContainer id="projects" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        <CodeIcon class="size-8" /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="blog" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        Blog
      </h2>
      <p class="text-white text-lg">
        Decripcion de 'How to do' algunos proyectos e informacion de interes.
      </p>
    </SectionContainer>

    <SectionContainer id="contact" class="pt-16">
      <h2
        class="flex items-center gap-x-2 text-3xl font-semibold text-white py-4"
      >
        Contacto
      </h2>
      <p class="text-white text-lg">
        Formulario de contacto e informacion relevante de redes.
      </p>
    </SectionContainer>
  </main>
</Layout>
