---
import CalendarIcon from "../icons/Calendar.astro";
interface Props {
  date: string;
  title: string;
  company: string;
  description: string;
  index: number;
}
const { date, title, company, description, index } = Astro.props;
---

<li
  class={`
  border-l-2
  ${index == 0 ? "border-purple-600" : "border-marrsgreen"}`}
>
  <div class="md:flex flex-start">
    <div
      class={`${
        index == 0 ? "bg-purple-600" : "bg-marrsgreen"
      } w-6 h-6 flex items-center justify-center rounded-full -ml-2.5 `}
    >
      <CalendarIcon class="text-white w-3 h-3" />
    </div>
    <div
      class={`
      block p-6 rounded-lg shadow-lg bg-gray-600/10 max-w-md ml-6 mb-10
      dark:bg-white/30
      `}
    >
      <div class="flex justify-between items-center mb-1">
        <p
          class={`
          basis-4/6 text-sm text-marrsgreen font-bold 
          md:text-lg 
          dark:text-carrigreen`}
        >
          {title}
        </p>
        <p class="font-medium text-marrsgreen dark:text-carrigreen">
          {date}
        </p>
      </div>
      <p
        class="text-sm md:text-md font-semibold text-marrsgreen/60 mb-3 dark:text-carrigreen/60"
      >
        {company}
      </p>
      <p class="text-gray-700 mb-3 dark:text-white">
        {description}
      </p>
    </div>
  </div>
</li>
