---
const { class: aditionalClass } = Astro.props;
---

<div
  class={`flex justify-center items-center bg-green-100 rounded-md 
  shadow-lg shadow-slate-600/10
  dark:bg-emerald-400/20 dark:shadow-slate-600/90  ${aditionalClass}`}
>
  <span
    class="text-marrslight text-xs md:text-lg font-medium me-2 px-2.5 py-0.5 dark:text-green-300"
  >
    <slot />
  </span>
</div>
