---
import ExperienceItem from "./ExperienceItem.astro";
import ToolIcon from "../icons/Tool.astro";

const { class: className } = Astro.props;

const EXPERIENCE = [
{
    date: { start: "Mar 2024", end: "Hoy" },
    title: "Profesional Lider IT",
    company: "Corparques - Mundo Aventura",
    location: "Bogotá, Colombia",
    description:
      "Desarrollador fullstack .NET C# - JavaScript para sistema CORE, nuevas funcionalidades, integración de perifericos y desarrollo para POS.",
  },
  {
    date: { start: "Jun 2021", end: "Feb 224" },
    title: "Programador Freelance",
    company: "Freelance",
    location: "Bogotá, Colombia",
    description:
      "Consultoria en ingeniería, prototipos e impresión 3D,  creación de aplicaciones y sitios web según requerimientos.",
  },
  {
    date: { start: "May 2019", end: "Feb 2021" },
    title: "Gerente ingeniería electrónica",
    company: "VC999 Packaging Systems Colombia S.A.S.",
    location: "Bogotá, Colombia",
    description:
      "Líder técnico, diseñador y director del equipo de programación, encargado del desarrollo de interfaces de usuario, lógica de funcionamiento de maquinaria y sistemas de gestión.",
  },
  {
    date: { start: "Feb 2017", end: "May 2019" },
    title: "Ingeniero de proyectos",
    company: "VC999 Packaging Systems Colombia S.A.S.",
    location: "Bogotá, Colombia",
    description:
      "Desarrollador encargado de la programación, implementación y puesta en marcha de los equipos , así como del diseño de prototipos y soluciones de empaque.",
  },
  {
    date: { start: "Mar 2016", end: "Ene 2017" },
    title: "Ingeniero Junior",
    company: "Teppack Colombia LTDA",
    location: "Bogotá, Colombia",
    description:
      "Ingeniero multidiciplinario encargado de dar soporte a las áreas de mecánica y electrónica.",
  },
];
---

<div class={`${className}`}>
  <h2
    class={`
    flex items-center justify-center gap-x-2 text-4xl font-semibold py-4 text-gray-700
    lg:justify-start
    dark:text-white`}
  >
    <ToolIcon class="size-8" /> Experiencia
  </h2>
  <ol class={`relative border-s border-gray-200 dark:border-gray-700 ml-3`}>
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-5 ms-4">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</div>
