---
import Heart from "../icons/Heart.astro";
---

<footer
  class={`
w-11/12 max-w-6xl mx-auto mb-24
sm:mb-6
rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg `}
>
  <div
    class={`
    max-w-screen-xl p-4 
    text-sm md:text-md  text-yellow-200/90
    flex items-center justify-center`}
  >
    Coded with
    <Heart />
    by 
    <a class="hover:underline pl-1" href="https://www.linkedin.com/in/eolunas"
    target="_blank"
      >eolunas</a
    >
  </div>
</footer>
