<header class="flex justify-between items-center py-5 w-3/4 mx-auto">
  <img
    class="rounded-full size-12"
    src="https://lh3.googleusercontent.com/a/ACg8ocJp7UNHYn1L3vzHQqpWrod9wD5sfIMpQMMaR2gjT-WXnhb3=s329-c-no"
    alt="eolunas dev avatar"
  />

  <nav class="flex flex-row gap-x-10 opacity-80 text-white">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
