---
const { class: aditionalClass, href } = Astro.props;
---

<a
  class={`
  rounded-full shadow-sm shadow-green-500/50 
  relative flex justify-center items-center overflow-hidden p-[2px]
  transition duration-200 
 dark:shadow-green-800/80
  hover:scale-110
  ${aditionalClass}`}
  href={href}
  target="_blank"
  rel="noopener"
>
  <span
    class={`
    absolute inset-[-1000%] animate-[spin_2s_linear_infinite]
    bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]
    dark:bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]`}
  ></span>
  <span
    class={`
      h-full w-full rounded-full p-2.5 backdrop-blur-3xl
      bg-gradient-to-r from-teal-700 to-lime-100
      text-black/70 text-sm font-semibold text-center
      dark:text-green-100 dark:bg-gradient-to-br dark:from-green-400 dark:to-blue-600/50`}
  >
    <slot />
  </span>
</a>
